/* Big tablet to 1200px (widths smaller that the 1140px row */
@media only screen and (max-width: 1200px) {
    .welcome-text-box {
        width: 100%;
        padding: 0 2%;
    }

    .row { padding: 0 2%; }

    .btn-project {
        width: 180px;
        height: 35px;
        display: block;
        margin-right: 0;
        margin-top: 20px;
        line-height: 35px;
    }
}

/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
    body { font-size: 18px; }
    section { padding: 50px 0; }
    h2 { margin-bottom: 10px; }

    .col { margin: 0; }

    .my-photo {
        width: 300px;
    }

    .skills-icon {
        height: auto;
        width: 75px;
    }

    .contact-icon {
        margin-top: 17px;
        margin-right: 20px;
    }

    iframe {
        height: 300px;
    }
}

/* Small phones to small tablets: fron 481 to 767px */
@media only screen and (max-width: 767px) {

    body { font-size: 16px; }
    section { padding: 30px 0; }
    .row,
    .welcome-text-box,
    .col {
        width: 100%;
        margin: 0 0 4% 0;
    }

    h1 {
        font-size: 170%;
        margin: 15px;
    }

    h2 {  font-size: 100%;}

    .btn:link,
    .btn:visited {
        margin: 15px 10px 20px 0;
    }

    .btn:last-child {
        margin-right: 0;
    }

    .main-nav {
        margin-top: 60px;
    }

    .main-nav li a:link,
    .main-nav li a:visited  { font-size: 80%}
    .text-welcome { font-size: 110%; }
    .text-introduction {
        font-size: 75%;
        line-height: 22px;
    }

    .about-me-container {
        display: block;
    }

    .my-photo { margin-bottom: 25px; }

    .about-me-text-box {
        display: block;
        text-align: center;
    }

    .box { text-align: center; }
    
    .skills-icon {
        width: 65px;
    }

    .project-container {
        display: block;
    }

    .contact-icon {
        margin-top: 10px
    }

    .contact-icon img {
        height: 45px;
    }
}

/* Small phones: from 0 to 480px*/
@media only screen and (max-width: 480px) {
    .row { padding: 0 4%; }
    section { padding: 30px 0; }
    h1 { font-size: 110%; }

    .main-nav {
        float: left;
        margin-top: 55px;
    }

    .main-nav li { margin-left: 10px; }
    .welcome-text-box { padding: 0 4%; }
    .text-introduction { font-size: 95%; }
    .my-photo { width: 180px; }
    .about-me-text-box .btn { margin-bottom: 15px; }
    .about-me-text-box .btn:last-child { margin-bottom: 0; }
    .contact-icon img { height: 40px; }
    .skills-icon { width: 55px; }
    .copyright { margin: 15px 0; }
}
