*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    color: #2b2b2b;
    font-family: 'Raleway', 'Alial', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.row{
    max-width: 1140px;
    margin: 0 auto;
}
